.carousel .carousel-one-img {
  border-radius: 16px;
  /* margin-right: 100px; */
}
.jtKTCe {
  margin-top: 64px;
} /* square buttons */
.rec.rec-arrow {
  border-radius: 100px;
  opacity: 0;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}
.cVXxbE:hover,
.cVXxbE:focus {
  cursor: pointer;
  background-color: #ffffff;
}
button.rec-dot {
  background-color: #37383b;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: none;
  background-color: #ffffff;
}
/* hide disabled buttons */
.rec.rec-dot_active {
  background: #ffffff;
  box-shadow: none;
}
