.banner {
    padding: 160px 0;

}

.banner img {
    width: 100px;
    height: 72px;
}

.banner h1 {
    color: #ffffff;
    font-size: 56px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    width: 70%;
    margin-top: 36px;
}

.headquarters .headquarters-accept-cookie {
    background-color: rgba(38, 38, 38, 0.6);
    border-radius: 8px;
    padding: 16px;
}

.headquarters .headquarters-accept-cookie p {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    margin: 0;
    font-size: 13.01px;

}

.headquarters .headquarters-accept-cookie .accept-cookie-link {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.headquarters-btn button {
    background-color: #000000;
    border-radius: 99999px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    margin: 0 16px;
}

.headquarters-btn .btn-my-custom {
    background-image: linear-gradient(to right, #D1AAD7 0%, #C88BC4 20%, #7B8FDD 70%, #8AC1F2 90%, #BBDEF2 100%);
    border: 1px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #D1AAD7 0%, #C88BC4 51%, #7B8FDD 100%, #8AC1F2 100%, #BBDEF2 100%);
}

.headquarters-txt h1 {
    font-style: 60px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

.headquarters-txt p {
    font-style: 13px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    text-transform: uppercasep;
}

.headquarters-txt .headquarters-txt-number {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.headquarters-txt .headquarters-txt-number .one-txt-number {
    margin: 0 45px;

}


.animation .animation-txt {
    justify-content: center;
}

.animation {
    margin-top: 100px;


}

.animation .animation-txt {
    justify-content: center;
    border-radius: 20px;
    padding: 60px 120px;
    border: 1px solid transparent;
    border-image-source: linear-gradient(to right, #D1AAD7 0%, #C88BC4 51%, #7B8FDD 100%, #8AC1F2 100%, #BBDEF2 100%);
    border-image-slice: 1;
    font-family: 'Inter', sans-serif;
}

.animation .animation-txt p {
    color: #FFFFFF;
    font-size: 28px;
    line-height: 112px;
    margin: 0;
    padding: 0 20px;
}

.animation .animation-txt .big-txt {
    font-size: 58px;
}

.headquarters .video img {
    padding: 0;
    width: 100%;
    margin-top: 96px;
}

.carousel {
    margin-top: 96px;
}

.carousel-box {
    height: 200px;
    background-color: #BBDEF2;
}

.my-btn {
    text-align: center;
    margin-top: 65px;
}

.my-btn .btn {
    border-radius: 999px;
}

.my-btn .my-custom {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 14px;
    color: #FFFFFF;
    border-image-source: linear-gradient(to right, #D1AAD7 0%, #C88BC4 51%, #7B8FDD 100%, #8AC1F2 100%, #BBDEF2 100%);
    border-image-slice: 2;
    font-family: 'Inter', sans-serif;

}

.customers {
    font-family: 'Inter', sans-serif;
    padding: 128px 0;
    background-color: #171717;
    margin-top: 128px;
}
.customers h1{
    color: #FFFFFF;
    font-size: 45px;
}
.customers p{
    color: #E5E5E5;
    font-size: 18px;
    margin-top: 40px;
}
.customers-brands{
    /* width: 100%; */
    display: flex;
    flex-direction:row ;
    flex-wrap: nowrap;
    overflow: hidden;

}
.customers-brands img{
    margin: 32px;
}


.investors {
    font-family: 'Inter', sans-serif;
    margin: 128px 0;
}
.investors h1{
    color: #FFFFFF;
    font-size: 45px;
}

.investors-brands{
    /* width: 100%; */
    background-color: #171717;
    border: 1px solid #404040;
    border-radius: 12px;
    justify-content: center;
    margin-top: 100px;
}
.investors-brands img{
    padding:60px 90px;
    
}