
.footer {
    margin-top: 80px;
}

.footer h1 {
    font-size: 14px;
    color: #A3A3A3;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;

}

.footer p {
    font-size: 14px;
    color: #A3A3A3;
    font-family: 'Inter', sans-serif;
    margin: 16px 0 0 0;
}

.footer .icon-snw .my-cs-icon {
    color: #A3A3A3;
    margin: 0;
    margin-top: 34px;
    margin-right: 12px;

}



.footer-end {
    border: 1px solid #A3A3A3;
    margin-top: 48px;
    margin-bottom: 10px;

    padding: 20px 0;
}

.footer-end p {
    font-size: 14px;
    color: #A3A3A3;
}

.footer-end .txt-left {
   text-align: start;
}

.footer-end .txt-right {
   text-align: end;

}